@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800;900&display=swap');
*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;

}
header{
  background-color:  rgba(255, 144, 14, 0.10);
  padding: 50px 150px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title{
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;
  
}
nav > ul{
  display: flex;
}
ul > li{
  margin-right: 50px;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
}
ul>li>a{
  text-decoration: none;
  color: #424242;
  
}
/* banner style: */
.banner-content{
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
}
.banner-description{
  font-size: 1rem;
  line-height: 26px;
  color: #727272;
}
.btn-primary{
  padding: 20px;
  background-color: #FF900E;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.28rem;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}
.banner img{
  width: 100%;
}

/* main style */
main{
  max-width: 1440px;
  margin: 0 auto;
}
.teams-contaner{
  display: flex;
  align-items: center;
}
.teams-description{
  color: #727272;
  line-height: 25px;
  margin-top: 15px;
}
.teams-img-contant{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.8rem;
  margin-right: 76px;
  margin: 50px;
}
.teams-contant span{
    color: #727272;
    font-size: 2rem;
}
.teams-contant strong{
  color: #FF900E;
  font-size: 2rem;
}
.teams-contant b{
   font-size: 2rem;
}
/* feature */
.features{
  margin-top: 130px;
  display: flex;
  gap: 130px;
}
.features .section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-img img{
  height: 90%;
  margin-left: 90px;
}
.ten-years{
  border-radius: 8px;
  background-color: #FF900E;
  width: 300px;
  padding: 30px;
  height: 120px;
   position: relative;
   bottom: 100px;
  /* align-items: center; */
}
.ten-years h2{
  color: white;
  font-size: 4rem;
  margin: 0;
}
.ten-years p{
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
}
.feature-description{
  margin-top: 20px;
  margin-bottom: 60px;
}
.card{
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.text-light-gray{
  color: #727272;
  font-size: 1rem;
}
/* fact */
.facts{
  margin-left: 25px;
  
}
.fact-description{
  margin-top: 10px;
  font-size: 1rem;
  color: #727272;
}
.fact-img-card{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  
}
.fact-img-card .card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding:  45px;
  text-align: center;
}
.img-heading{
  font-size: 30px;
  font-weight: 500;
}
.img-description{
  color: #727272;
  font-size: 1rem;
   font-weight: 500;
   margin-top: 0;
}
.sponsors{
  text-align: center;
  margin-top: 150px;
 }
 .sponsors-description{
  font-size: 1rem;
  color: #727272;
  margin-top: 20px;
  margin-bottom: 60px;
 }
 .sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
 }
 .sponsors-img-container img{
  width: 150px;
  
 }
 footer{
  
  color: #727272;
  font-size: 1.5rem;
  border: 1px solid black;
  width: 600px;
  align-items: center;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px 140px;
  border-radius: 5px;
  background-color:  rgba(255, 144, 14, 0.10);
 }
.footer{
 padding: 40px 30px;
 font-size: 1rem;
 align-items: center;

}

/* responsive area: */
@media screen and (max-width:576px) {
  header{
   padding: 20px;
  
  }
 
  nav,
  .teams-contaner ,
  .fact-img-card,
  .sponsors-img-container,.features{
   flex-direction: column;
  }
 
 .teams-img-contant{
   grid-template-columns: 1fr;
 }
 .feature-img img{
  width: 50%;
  margin-left: 0;
 }
 .ten-years{
  max-width: 300px;
  position: static;
 }
 }

 @media screen and (min-width:576px) and (max-width:896px) {
   header{
     padding: 50px;
    
    }
    nav{
     flex-direction: column;
    }
    .teams-contaner{
      flex-direction: column;
     }
     .sponsors-img-container{
      flex-direction: column ;
     }
 }